*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 350;
  line-height: 1.25;
  color: black;
  text-align: left;
  background-color: white;
  position: relative;
}
.form1{
  width: 700px;
  margin: 0 auto;
  background: #aaaaaa;
  padding: 15px;

}
